# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
#.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# html files
/R/analysis/condition_model.html
/R/analysis/condition_model_reg.html
/R/analysis/cpue_model.html
/R/analysis/model_selection.html
/R/explore/condition_covariates.html

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

*_files/
/files/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Large documents
2019_041-eng.pdf

# Raw data & model outputs
SISP7 BITS 2017.pdf
/data/DATRAS_cpue_length_haul
/data/DATRAS_exchange
/data/from_mich
/data/OCEANOGRAPHY
/data/NEMO_Nordic_SCOBI
/data/depth_geo_tif
/data/shapefiles
/data/ICES_SubStatrec
/output/

.Rproj.user

# Notes
Checklist for cod_density project - Google Docs

# Unnessesary & figures
/figures/supp/oxygen_rasters/
/figures/supp/temp_rasters/
/figures/supp/cpue_oxygen_rasters/
/figures/supp/cpue_temp_rasters/

# Meeting slides
/meetings

# Test scripts
test.Rmd
test.html
R/guides/
